@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #11041e;
    --accent-color-1: greenyellow;
    --accent-color-2: #300b51;
    --accent-color-3: #8A2BE2;
    --grid-color: #414141;
    --spacer: 5rem;
    --off-white: rgb(231, 231, 231);
}

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    background: var(--main-bg-color);
    color: white;
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    background: var(--accent-color-2);
    z-index: 100;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 0px 10px 0px 10px;
    font-family: 'Damion';
    font-weight: 600;
    font-size: 32px;
    background: -webkit-linear-gradient(var(--accent-color-1), var(--off-white));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.spacer {
    height: 100px;
}

.nav-bar-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 0px;
    height: 100px;
    width: 400px;
    z-index: 101;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar-menu {
    display: flex;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-bar-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-menu li a {
    color: white;
    text-decoration: none;
}

.nav-bar-menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 110px;
    background: var(--off-white);
    border: solid var(--accent-color-3) 2px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px;
    color: var(--accent-color-3);
}

.nav-bar-menu .cv a,
.contact a {
    text-decoration: none;
    color: var(--accent-color-3);
}

.nav-bar-menu button:hover a {
    color: white;
    background: var(--accent-color-3);
}

.nav-bar-menu button:hover {
    color: white;
    background: var(--accent-color-3);
}

.nav-bar-menu .cv {
    font-size: 1rem;
}

.nav-bar-menu .contact {
    font-size: 1rem;
}

/* Intro section */

.intro-section {
    width: 100%;
    height: 60vh;
    margin: 1rem 0px 1rem 0px;
}

.intro-wrapper {
    width: auto;
    height: 100%;
    overflow: hidden;
    /* background: white; */
    border-radius: 10px;
}

.intro-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: none;
    text-align: left;
    width: 100%;
    height: 100%;
    background: none;
    padding: 0rem 3rem 0rem 3rem;
    color: white;
    z-index: 1;
}

.chat-box {
    position: absolute;
    height: 475px;
    width: 475px;
    z-index: -2;
}

.name-header {
    font-size: 2.5rem;
    color: var(--accent-color-1);
}

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: 3rem;
    margin-top: 2rem;
    width: 300px;
}

.intro-message {
    height: 100%;
    /* padding-left: 5px; */
    font-size: 24px;
    font-weight: 900;
    white-space: nowrap;
    color: var(--accent-color-1);
}

.curs {
    content: "";
    height: 24px;
    width: 2px;
    background: white;
}

.curs-off {
    content: "";
    width: 0px;
    height: 0px;
}

/* About Section */

/* v The class below cancels out header height for anchor element to properly align w/ section v */
.about-section::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0px 0px;
    width: 100%;
}

.about-section {
    /* display: block; */
    width: auto;
    height: auto;
    margin: var(--spacer) 1rem var(--spacer) 1rem;
    text-align: left;
    font-size: 1.25rem;
}

.about-section h1 {
    padding-bottom: 3rem;
    font-size: 2.25rem;
}

.about-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 0rem 1rem 0rem 1rem;
}

.about-wrapper h3 {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: solid var(--accent-color-1) 3px;
    background: var(--main-bg-color);
}

.about-wrapper h3::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 19px;
    width: 25px;
    height: 12px;
    background: var(--main-bg-color);
    transform: rotate(-25deg);
}

.about-wrapper h3::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 15px;
    width: 20px;
    height: 20px;
    border: solid 3px var(--accent-color-1);
    transform: rotate(-25deg);
    z-index: -1;
}

.about-wrapper p {
    margin-bottom: 1rem;
}

.contact-wrapper {
    display: grid;
    position: relative;
    max-width: 600px;
    padding-left: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 2rem;
}

.contact-item h3 {
    color: var(--accent-color-1)
}

.contact-item p {
    font-size: 1rem;
}

.contact-wrapper::after {
    content: '';
    position: absolute;
    max-width: 420px;
    bottom: -1.5rem;
    left: 1rem;
    right: 2rem;
    height: 2px;
    background: white;
}

.about-button-wrapper {
    display: grid;
    justify-content: left;
    max-width: 420px;
    padding-left: 1rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.about-button-wrapper button {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background: var(--off-white);
    border: solid var(--accent-color-3) 2px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--accent-color-3);
}

.about-button-wrapper button:hover {
    background: var(--accent-color-3);
    color: white;
}

.about-button-wrapper button a{
    text-decoration: none;
    color: var(--accent-color-3);
}

.about-button-wrapper button:hover a{
    color: white;
}

/* Skills section */

.skills-section {
    /* display: block; */
    width: 100%;
    height: auto;
    margin: var(--spacer) 0px var(--spacer) 0px;
    text-align: center;
    font-size: 1.5rem;
}

.skills-section h1 {
    display: flex;
    padding: 0rem 0rem 1rem 1rem;
    align-items: left;
}

.skills-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 0px;
    margin: 0rem 2rem 0rem 2rem;
}

.skill-item {
    text-align: center;
    padding: 0px 0px;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid black 1px;
    padding: 50px 20px 50px 20px;
    border-radius: 5px;
}

.skill-item:nth-child(1) {
    background: rgb(138, 43, 226, 0.4);
}

.skill-item:nth-child(2) {
    background: rgb(138, 43, 226, 0.3);
}

.skill-item:nth-child(3) {
    background: rgb(138, 43, 226, 0.4);
}


.icon {
    color: var(--accent-color-1);
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
}

.skill-item p {
    margin-bottom: 10px;
}

/* Contact Section */

.contact-section::before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0px 0px;
}

.contact-section {
    width: 100%;
    height: auto;
    margin: var(--spacer) 0px var(--spacer) 0px;
    text-align: left;
    font-size: 1.5rem;
}

.contact-section h1 {
    padding: 0rem 0rem 1rem 1rem;
}

.contact-section-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: auto;
    padding: 0rem 2rem 0rem 2rem;
    text-align: left;
}

.contact-section-form .contact-blurb {
    padding-bottom: 1rem;
}

.contact-section-form input {
    font-size: 1.5rem;
    background: none;
    color: var(--off-white);
    border: none;
    border-bottom: solid var(--off-white) 2px;
}

.contact-section-form input::placeholder {
color: var(--accent-color-1);
}

.contact-section-form textarea {
    font-size: 1.2rem;
    background: none;
    color: var(--off-white);
    border: none;
    border-bottom: solid var(--off-white) 2px;
    resize: none;
}

.contact-section-form textarea::placeholder {
    color: var(--accent-color-1);
    font-size: 1.5rem;
    }

.contact-section-form .credentials {
    padding: 1rem 0rem 1rem 0rem;
}

.contact-section-form .form-message {
    padding: 1rem 0rem 5rem 0rem;
}

.contact-section-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
    width: 200px;
    background: var(--off-white);
    border: solid var(--accent-color-3) 2px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin-top: 1rem;
    color: var(--accent-color-3);
}

.contact-section-form button:hover {
background: var(--accent-color-3);
color: white;
}

/* Footer Section */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--accent-color-2);
    width: 100%;
    height: 100%;
}

.social-icon {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 5px;
}

@media screen and (max-width: 760px) {
    .hamburger-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: none;
        align-items: center;
        right: 50px;
        top: 37px;
        height: 26px;
        width: 30px;
        z-index: 101;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        z-index: 105;
        display: flex;
        height: 4px;
        width: 30px;
        background: white;
        border-radius: 2px;
    }

    .nav-bar-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        top: -400px;
        background: var(--off-white);
        z-index: 105;
        transform: translateY(-500px);
        transition: transform 0.3s ease-in;
        letter-spacing: 2px;
    }

    .nav-bar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-bar-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        font-size: 1.75rem;
        font-weight: 600;
        padding: 0px;
    }

    .nav-bar-menu li {
        width: 100%;
        height: 100%;
        border: solid black 1px;
        cursor: pointer;
    }

    .nav-bar-menu li:hover {
        background: var(--accent-color-3);
    }

    .nav-bar-menu li:hover a {
        color: white;
    }

    .nav-bar-menu li a {
        color: var(--accent-color-3);
        text-decoration: none;
    }

    .nav-bar-menu .cv {
        width: 100%;
        height: 100%;
        font-size: 1.75rem;
        font-weight: 600;
        padding: 0px;
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 0px;
    }

    .nav-bar-menu .contact {
        width: 100%;
        height: 100%;
        font-size: 1.75rem;
        font-weight: 600;
        padding: 0px;
        border: solid rgb(0, 0, 0) 1px;
        border-radius: 0px;
    }

    .nav-bar-container-active {
        transform: translateY(500px);
    }

    /* Skills Section */
    .skill-item h3 {
        font-size: 1rem;
    }

    .skill-item p {
        display: none;
    }

    /* Footer Section */
    .socials {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 400px) {
    .chat-box {
        width: 430px;
        height: 430px;
    }
}